body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(./bg.jpg);
    background-size: contauin;
}

.login-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

form {
    text-align: center;
}

h2 {
    color: #333;
    font-size: 28px;
    margin-bottom: 30px;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
}

.input-group input {
    width: 80%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-group input:focus {
    outline: none;
    border-color: #4e9cff;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #999;
    pointer-events: none;
    transition: 0.3s ease-out;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
    top: 0;
    transform: translateY(0);
    font-size: 14px;
    color: #4e9cff;
}

button {
    width: 70%;
    padding: 15px;
    background-color: #4e9cff;
    border: none;
    border-radius: 5px;
    color: #f5f9f9;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #2680ff;
}

.bottom-text {
    margin-top: 20px;
    font-size: 14px;
}

.bottom-text a {
    color: #4e9cff;
    text-decoration: none;
}

.bottom-text a:hover {
    text-decoration: underline;
}



header {
    position: relative;
    height: 60px;
    
    
  }
  
  .nav-bg {
    background-size: cover;
    backdrop-filter: blur(100px);
  }
  
  .navbar {
    width: 100%;
    height: 60px;
    max-width: 1500px;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #5151af;
  }
  
  .nav-links {
    display: flex;
    gap: 2rem;
    margin-bottom: 0;
  }
  
  a {
    text-decoration: none;
    color: #365486;
    font-size: 1rem;
  }
  li {
    list-style: none;
  }
  
  
  .navbar .toggle_btn {
    color: #f7810a;
    font-size: 1.5 rem;
    cursor: pointer;
    display: none;
  }
  
  .action-btn {
    background-color: #5151af;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
  }
  .action-btn:hover {
    scale: 1.05;
    color: #fff;
  }
  .action-btn:active {
    scale: 0.95;
  }
  
  .dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 70px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    z-index: 900;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .dropdown_menu.open {
    height: 240px;
  }
  .dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dropdown_menu .action-btn {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  /*Responsive*/
  
  @media (max-width: 992px) {
    .nav-links,
    .navbar .action-btn {
      display: none;
    }
    .navbar .toggle_btn {
      display: block;
    }
    .dropdown_menu {
      display: block;
    }
  }
  section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80%;
    backdrop-filter: blur(2px);
  }