a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}
li {
  list-style: none;
}

/*Start*/

* {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  overflow-x: hidden;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-color: white;
}

a:hover {
  color: #56cfe1;
}

/*Header*/

header {
  position: relative;
  height: 60px;
  background-color: #1b263b;
}
.hero{
  background-image: url(assets/Images/bg.png);
  height: 100%;
  width: 100%;
}
.nav-bg {
  background-size: cover;
  backdrop-filter: blur(100px);
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1500px;
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #7fc7d9;
}

.nav-links {
  display: flex;
  gap: 2rem;
  margin-bottom: 0;
}

.navbar .toggle_btn {
  color: #7fc7d9;
  font-size: 1.5 rem;
  cursor: pointer;
  display: none;
}

.action-btn {
  background-color: #7fc7d9;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}
.action-btn:hover {
  scale: 1.05;
  color: #fff;
}
.action-btn:active {
  scale: 0.95;
}

.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 70px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  z-index: 900;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open {
  height: 240px;
}
.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}
/*Responsive*/



@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --font1: "Heebo", sans-serif;
  --font2: "Fira Sans Extra Condensed", sans-serif;
  --font3: "Roboto", sans-serif;
}
body {
  font-family: var(--font3);
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
h2 {
  font-weight: 900;
}
.container-fluid {
  max-width: 1200px;
}

.about{
  background-color: black;
}

.pseudo img{
  width: 100%;
  height: 95vh;
}

.pseudo .btn {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #7fc7d9;
  color: #1b263b;
}

@media (max-width: 992px) {
  .nav-links,
  .navbar .action-btn {
    display: none;
  }
  .navbar .toggle_btn {
    display: block;
  }
  .dropdown_menu {
    display: block;
  }
  body{
    background-size: contain;
    background-repeat: no-repeat
  }
  .pseudo img{
    width: 100%;
    height: auto;
  }
  .pseudo .btn{
    visibility: hidden;
    
  }
}

.about{
  text-align: center;
  padding-top: 30px;
  color: white;
}
.about p {
  width: 70%;
  margin: auto;
}
.qut{
  font-size: 2.5em;

}