

/*Start*/

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  overflow-x: hidden;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url(./bg.jpg);
}

a:hover {
  color: #56cfe1;
}

/*Header*/

header {
  position: relative;
  height: 60px;
  
  
}

.nav-bg {
  background-size: cover;
  backdrop-filter: blur(100px);
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1500px;
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #5151af;
}

.nav-links {
  display: flex;
  gap: 2rem;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: #365486;
  font-size: 1rem;
}
li {
  list-style: none;
}


.navbar .toggle_btn {
  color: #f7810a;
  font-size: 1.5 rem;
  cursor: pointer;
  display: none;
}

.action-btn {
  background-color: #5151af;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}
.action-btn:hover {
  scale: 1.05;
  color: #fff;
}
.action-btn:active {
  scale: 0.95;
}

.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 70px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  z-index: 900;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open {
  height: 240px;
}
.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}
/*Responsive*/

@media (max-width: 992px) {
  .nav-links,
  .navbar .action-btn {
    display: none;
  }
  .navbar .toggle_btn {
    display: block;
  }
  .dropdown_menu {
    display: block;
  }
}

main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.main1{
  width: 50%;
}

.main2{
  padding: 100px;
  width: 50%;
}

.imgBx{
  width: 50%;
  display: flex;
  justify-content: center;
}
.imgBx img{
  margin-top: 100px;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: solid 5px white;
  box-shadow: #365486 ;
  -webkit-box-shadow: 0px -1px 100px 4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -1px 100px 4px rgba(0,0,0,0.75);
  box-shadow: 0px -1px 100px 4px rgba(0,0,0,0.75);

}

.hero{
  background-color: #837f7b2f;
  height: 50vh;
  width: 100%;
  border-radius: 40px;

}


